<!DOCTYPE html>

<html lang="english">

<head>
    <title>M-CHAT-R™ SURVEY</title>
    <meta property="og:title" content="mchat-survey-page - exported project" />
    <meta property="og:title" content="mchat-results-page - exported project" />
    <meta property="og:title" content="info-form-page - exported project" />
    <meta property="og:title" content="mchat-instructions-page - exported project" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />
    <style data-tag="reset-style-sheet">
        html {
            line-height: 1.15;
        }
        
        body {
            margin: 0;
        }
        
        * {
            box-sizing: border-box;
            border-width: 0;
            border-style: solid;
        }
        
        p,
        li,
        ul,
        pre,
        div,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: 0;
            padding: 0;
        }
        
        button,
        input,
        optgroup,
        select,
        textarea {
            font-family: inherit;
            font-size: 100%;
            line-height: 1.15;
            margin: 0;
        }
        
        button,
        select {
            text-transform: none;
        }
        
        button,
        [type="button"],
        [type="reset"],
        [type="submit"] {
            -webkit-appearance: button;
        }
        
        button::-moz-focus-inner,
        [type="button"]::-moz-focus-inner,
        [type="reset"]::-moz-focus-inner,
        [type="submit"]::-moz-focus-inner {
            border-style: none;
            padding: 0;
        }
        
        button:-moz-focus,
        [type="button"]:-moz-focus,
        [type="reset"]:-moz-focus,
        [type="submit"]:-moz-focus {
            outline: 1px dotted ButtonText;
        }
        
        a {
            color: inherit;
            text-decoration: inherit;
        }
        
        input {
            padding: 2px 4px;
        }
        
        img {
            display: block;
        }
        
        html {
            scroll-behavior: smooth
        }
    </style>
    <style data-tag="default-style-sheet">
        html {
            font-family: Poppins;
            font-size: 1em;
        }
        
        body {
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            text-transform: none;
            letter-spacing: normal;
            line-height: 1.15;
            color: var(--dl-color-gray-black);
            background-color: var(--dl-color-gray-white);
        }
    </style>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" data-tag="font" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" data-tag="font" />

    <link rel="stylesheet" href="/static/css/style.css" />
</head>

<body>
        <div>
            <link href="/static/css/mchat-survey-page.css" rel="stylesheet" />
            <div class="mchat-survey-page-container" id="survey-slides">
                <div id="survey-slide-1" class="mchat-survey-page-container001 step active">
                    <div class="mchat-page-numbers-container">
                        {% comment %} <span class="mchat-page-numbers-text"><span>Page 4 of 9</span></span> {% endcomment %}
                    </div>
                    <header class="mchat-header-h-e-a-d-e-r mchat-header mchat-header-root-class-name9">
                        <a href="https://thebloombuddy.com" target="_blank" rel="noreferrer noopener" class="mchat-header-link">
                            <span>< RETURN HOME</span>
                        </a>
                        <img id="bloombuddy-logo" alt="darklogotransparentstraightlineCopy3573" src="/static/images/no%20bg%20dark_logo_transparent_straightline_1-1200h.png" loading="eager" class="mchat-header-darklogotransparentstraightline-copy logo" />
                    </header>

                    <div class="mchat-survey-page-container002 infinite-container">
                        <div class="mchat-survey-page-container003">
                            <form method="POST" action="/quizz/" enctype="multipart/form-data">

                                    {% csrf_token %} {%for q in questions %}
                                    
                                    <div required class="questions infinite-item">
                                                <span class="mchat-survey-page-text">
                                                    {{q.question}}
                                            
                                                </span>
                                                <div class="mchat-survey-page-container004">
                                                    <div class="selector infinite-item">
                                                        <input type="radio" id="op1" name="{{q.question}}" value="op1" />
                                                        <label for="op1" class="mchat-survey-page-text01">
                                                            {{q.Op1}}
                                                        </label>
                                                    </div>
                                                    <div class="selector">
                                                        <input type="radio" id="op2" name="{{q.question}}" value="op2" />
                                                        <label for="op2" class="mchat-survey-page-text02">
                                                            {{q.Op2}}
                                                        </label>
                                                    </div>
                                                </div>
                                        {% endfor %} {%if questions.has_previous%}
                                        <input type='hidden' name="prev_link" value={{questions.previous_page_number}} class="mchat-button-navlink"> {% endif %} {%if questions.has_next%}
                                        <input type='hidden' name="next_link" value={{questions.next_page_number}} class="mchat-button-navlink"> {% endif %}

                                        <div class="mchat-survey-page-container110">
                                            <div class="button-container">
                                                <div class="mchat-button-container">
                                                    {%if questions.has_previous%}
                                                    <a href="?page={{questions.previous_page_number}}" class="mchat-button-navlink">
                                                        <span>Previous</span>
                                                    </a>
                                                    {%endif%}
                                                </div>
                                                <div class="mchat-button-container">
                                                    {%if questions.has_next%}
                                                    <button type="submit" formaction='/next/' class="mchat-button-navlink">
                                                    <span>Next</span>
                                                </button> {%endif%}
                                                </div>
                                                        <a{% if questions.has_next %} 
                                                            disabled="disabled" 
                                                            style="display:none" {% else %}
                                                            name="page" 
                                                            value=inputs.{{q.question}} 
                                                            type="submit" {% endif %} >
                                                                <button class="mchat-button-navlink" {% if questions.has_next %} 
                                                                        disabled="disabled" 
                                                                        style="display:none" {% else %} 
                                                                        name="page" 
                                                                        value=inputs.{{q.question}} 
                                                                        type="submit" {% endif %}>
                                                                  Submit
                                                                </button>
                                                </a>
                                            </div>
                                            <span class="mchat-survey-page-text74">
                                                © 2009 Diana Robins, Deborah Fein &amp; Marianne Barton
                                            </span>
                                        </div>
                                    </div>
                            </form>
                        </div>
                    </div>
                 </div>

            </div>
        </div>
        
 
    <script>
        function fill_form() {
            $items = Item::paginate(4);

            // Retrieve checked items in session.
            $checked_items = []
            if (Session::has('checked_items'))
                $checked_items = Session::get('checked_items');

            // Persist new checked items.
            $checked_items = array_merge($checked_items, Input::get('item'));
            Session::flash('checked_items', $checked_items);

            return View::make('form') -
                >
                with('items', $items);
        }

        { % comment %
        }

        function onInit() {
            $inputs = Input::all();
            if (!empty($inputs)) {
                Session::flash('inputs', $inputs);
            } else {
                Session::keep(['inputs']);
            }
            $this['inputs'] = Session::get('inputs');
        } { % endcomment %
        }

        { % comment %
        }
        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],
            onBeforePageLoad: function() {
                $('.loading').show();
            },
            onAfterPageLoad: function($items) {
                $('.loading').hide();
            }
        }); { % endcomment %
        }
    </script>
</body>

</html>


<!-- 
removed this from the cloud server
<body>
    <form method="POST" action="/quizz/" enctype="multipart/form-data">
        <div>
            <link href="/static/css/mchat-survey-page.css" rel="stylesheet" />
            <div class="mchat-survey-page-container" id="survey-slides">
                <div id="survey-slide-1" class="mchat-survey-page-container001 step active">
                    {% comment %}
                    <div class="mchat-page-numbers-container">
                        <span class="mchat-page-numbers-text"><span>Page 4 of 9</span></span>
                    </div> {% endcomment %}
                    <header class="mchat-header-h-e-a-d-e-r mchat-header mchat-header-root-class-name9">
                        <a href="https://thebloombuddy.com" target="_blank" rel="noreferrer noopener" class="mchat-header-link">
                            <span>< RETURN HOME</span>
                        </a>
                        <img id="bloombuddy-logo" alt="darklogotransparentstraightlineCopy3573" src="/static/images/no%20bg%20dark_logo_transparent_straightline_1-1200h.png" loading="eager" class="mchat-header-darklogotransparentstraightline-copy logo" />
                    </header>

                    <div class="mchat-survey-page-container002 infinite-container">
                        <div class="mchat-survey-page-container003">

                            {% csrf_token %} {%for q in questions %}
                            <div class="questions infinite-item">
                                <span class="mchat-survey-page-text">
                                  {{q.question}}
                            
                                </span>
                                <div class="mchat-survey-page-container004">
                                    <div class="selector infinite-item">

                                        <input type="radio" id="" name="{{q.question}}" value="op1" />
                                        <label for="" class="mchat-survey-page-text01">
                                        {{q.Op1}}
                                        </label>
                                    </div>
                                    <div class="selector">
                                        <input type="radio" id="" name="{{q.question}}" value="op2" />
                                        <label for="" class="mchat-survey-page-text02">
                                {{q.Op2}}
                              </label>
                                    </div>
                                </div>
                                {% endfor %} {%if questions.has_previous%}
                                <input type='hidden' name="prev_link" value={{questions.previous_page_number}} class="mchat-button-navlink"> {% endif %} {%if questions.has_next%}
                                <input type='hidden' name="next_link" value={{questions.next_page_number}} class="mchat-button-navlink"> {% endif %}


                            </div>
                        </div>
                    </div>

                </div>


                <div class="mchat-survey-page-container110">
                    <div class="button-container">
                        <div class="mchat-button-container">
                            {%if questions.has_previous%}
                            <a href="?page={{questions.previous_page_number}}" class="mchat-button-navlink">
                                <span>Previous</span>
                            </a>
                            {%endif%}
                        </div>
                        <div class="mchat-button-container">
                            {%if questions.has_next%}
                            <button type="submit" formaction='/next/' class="mchat-button-navlink">
                            <span>Next</span>
                        </button> {%endif%}
                        </div>
                        <a>
                            <button class="mchat-button-navlink" {% if questions.has_next %} disabled="disabled" style='display:none' {% else %} name="page" value=inputs.{{q.question}} type="submit" {% endif %}>
                            Submit
                            </button>
                        </a>
                    </div>
                    <span class="mchat-survey-page-text74">
                        © 2009 Diana Robins, Deborah Fein &amp; Marianne Barton
                    </span>
                </div>

            </div>
        </div>

    </form>
    <script>
        function fill_form() {
            $items = Item::paginate(4);

            // Retrieve checked items in session.
            $checked_items = []
            if (Session::has('checked_items'))
                $checked_items = Session::get('checked_items');

            // Persist new checked items.
            $checked_items = array_merge($checked_items, Input::get('item'));
            Session::flash('checked_items', $checked_items);

            return View::make('form') -
                >
                with('items', $items);
        }

        { % comment %
        }

        function onInit() {
            $inputs = Input::all();
            if (!empty($inputs)) {
                Session::flash('inputs', $inputs);
            } else {
                Session::keep(['inputs']);
            }
            $this['inputs'] = Session::get('inputs');
        } { % endcomment %
        }

        { % comment %
        }
        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],
            onBeforePageLoad: function() {
                $('.loading').show();
            },
            onAfterPageLoad: function($items) {
                $('.loading').hide();
            }
        }); { % endcomment %
        }
    </script>
</body> -->